.main-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  
  .main-list__link{
    text-decoration: none;
  }
  
  .main-list__item-card{
    background-color: #FE7E56;
    color: white;
    border: 1px solid black;
    margin: 10px;
    max-width: 160px;
    height: 350px;
    position: relative;
  }
  
  .main-list__item-img{
    width: 100%;
    height: 230px;
  }
  
  .main-list__item-name{
    margin: 5px 15px;
    font-size: 20px;
  }
  
  .main-list__item-house{
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 8px auto;
  }