
.App {
  text-align: center;
  box-sizing: border-box;
}

/* header */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: black;
}

.App-title{
  margin-bottom: 40px;
}
.header__search-field{
  width: 100%;
}
.header__search-input{
  width: 60%;
  height: 30px;
  font-size: 16px;
  outline: 1px solid black;
  margin-bottom: 40px;
  &::placeholder {
    padding-left: 5px;
    text-transform: capitalize;
  }
}