.App {
  text-align: center;
  box-sizing: border-box;
}

/* header */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: black;
}

.App-title{
  margin-bottom: 40px;
}
.header__search-field{
  width: 100%;
}
.header__search-input{
  width: 60%;
  height: 30px;
  font-size: 16px;
  outline: 1px solid black;
  margin-bottom: 40px;
  &::placeholder {
    padding-left: 5px;
    text-transform: capitalize;
  }
}

// main
.main-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.main-list__link{
  text-decoration: none;
}

.main-list__item-card{
  background-color: #FE7E56;
  color: white;
  border: 1px solid black;
  margin: 10px;
  max-width: 160px;
  height: 350px;
  position: relative;
}

.main-list__item-img{
  width: 100%;
  height: 230px;
}

.main-list__item-name{
  margin: 5px 15px;
  font-size: 20px;
}

.main-list__item-house{
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 8px auto;
}

//characterCard

.card{
  background-color: #F1FFFF;
  height: 100vh;
  padding-top: 50px;
}

.card__div{
  background-color: #FE7E56;
  color: white;
  border: 1px solid black;
  margin: auto;
  height: 200px;
  max-width: 300px;
  display: flex;
}

.card__div-img{
  height: 100%;
  max-width: 130px;
}
.card__div--name{
  padding-left: 20px;
}
.card__div--text{
  text-align: left;
  padding-left: 5px;
}


